.form {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.form input {
    margin-top: 10px;
}
.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.sub-form {
    display: flex;
    flex-direction: column;
}
.block {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    padding: 10px;
    border: 1px solid #000;
}
input::placeholder {
    color: #3f3f3f;
}
select {
    border: 1px solid #000;
}
.day-form {
    display: flex;
    flex-direction: column;
}
.sub-form {
    display: flex;
    flex-direction: column;
}
.sub-form input {
    height: 30px;
}
.sub-form button {
    height: 40px;
}
.sub-form select {
    height: 30px;
}
.edit-forms {
    display: flex;
    flex-direction: column;
}
.filtrs-form {
    display: flex;
    flex-direction: column;
}
.form-phone {
    display: flex;
    flex-direction: column;
}
.day-item button {
    margin: 0 5px;
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
}