.edit-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.doc-wrap h2 {
    text-align: center;
    margin-bottom: 20px;
}
.doc-wrap textarea {
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 10px;
    width: 500px;
    margin-left: 20px;
    height: 100px;
}
.doc-wrap label {
    display: flex;
    flex-direction: column;
}
.signature img {
    width: 150px;
}

.note {
    margin-top: 10px;
    font-style: italic;
}
.text1 {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.sformed {
    margin-left: 70px;
    margin-bottom: 20px;
    font-weight: 600;
}
.sber-img {
    width: 50px;
}
.sber-text {
    color: rgb(45 181 74);
    font-weight: 700;
    font-size: 24px;
}
.adresses {
    display: flex;
}
.adresses .wrap:last-child {
    margin-left: 50px;
}
.wrap { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wrap:last-child .wrap-item:last-child {
    margin-top: 3px;
}
.wrap-item {
    display: flex;
    align-items: end;
}
.wrap-item img {
    width: 15px;
    margin-right: 5px;
}
.hat {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.prg {
    max-width: 540px;
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: 500;
    margin-left: 95px;
    line-height: 22px;
}
.text-b {
    margin-bottom: 15px;
}
.bold {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}
.doc {
    width: 100%;
}
.log {
    display: flex;
    align-items: center;
}
.grid {
    margin-left: 95px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}
.footr {
    margin-top: 200px;
    display: flex;
    margin-left: 95px;
    margin-bottom: 100px;
}
.sign img {
    width: 350px;
    margin-left: 280px;
}
.texts {
    margin-top: 190px;
    font-weight: bold;
}
.texsm {
    margin-left: 95px;
    max-width: 710px;
    margin-top: 180px;
    font-size: 13px;
}
.texsm:last-child {
    margin-top: 30px;
}
.document {
    margin: 0 auto;
    width: 1200px;
}
.doc-wrap button {
    margin-left: 200px;
    padding: 20px;
    margin-bottom: 50px;
}
.document {
    font-size: 14px;
}
.lastt {
    margin-bottom: 60px;
}