.sub-item {
    display: flex;
    margin-top: 30px;
    align-items: start;
}
.infos {
    margin-left: -55px;
}
.logo img {
    width: 50px;
}
.title {
    max-width: 300px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.sub-title {
    color: #797979;
    font-weight: 600;
}
.money {
    font-size: 20px;
    font-weight: 600;
}
.money-black {
    color: #000;
}
.money-white {
    color: #fff;
}
.money-gray {
    color: #797979;
}
.money-green {
    color: #109227;
    background-color: none;
}
.sub-wrapp {
    width: 100%;
}
.glob {
    display: flex;
    justify-content: space-between;
}
hr {
    margin-left: -55px;
    border: 1px solid #4a4a4a;
    margin-top: 20px;
}